@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body 
{
  font-family: sans-serif;
  background: transparent;
  overflow: hidden;
}

.scene,
canvas 
{
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  top: 15%;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 80px;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
header ul{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.sec
{
  padding: 15% 100px;
  background: url(./img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.textBox
{
  max-width: 600px;
}
.textBox h2
{
  font-size: 4em;
}
.textBox h2 span
{
  color: #83f7ff;
  font-size: 1.5em;
}
@media (max-width: 991px)
{
    body 
    {
        overflow: visible;
    }
    .scene,
    canvas 
    {
        height: 100%;
        width: 100%;
        top: 50%;
    }
    .sec
    {
        min-height: 200vh;
        padding: 80px 40px;
        padding-bottom: 140px;
    }
    header
    {
        padding: 20px 40px;
    }
    header .logo
    {
        position: relative;
        max-width: 60px;
    }
    header ul
    {
        position: fixed;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        color: #111;
        visibility: hidden;
        opacity: 0;
    }
    header ul.active
    {
        visibility: visible;
        opacity: 1;
    }
    header ul li a
    {
        display: inline-block;
        color: #111;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }
    header ul li a:hover
    {
        color: #ed0223;
    }
    .toggleMenu
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
    }
    .toggleMenu.active
    {
        background-position: center;
        background-size: 20px;
        background: url(./img/close.png);
        background-repeat: no-repeat;
        filter: invert(1);
        position: fixed;
        right: 40px;
    }
    .content .textBox h2 
    {
        font-size: 2em;
    }
}